html{
height: 100%;
width: 900px;
}

header{
background-color: beige;
border: 2px solid;
    
}

ul{
display: flex;
gap: 20px;
list-style-type: none;

}

nav{
    display: flex;

}

ul a{
   text-decoration: none;
   
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    margin: 20px;
}